!!!
%html
  %head
    %title John Isaiah Carmona
    = csrf_meta_tags
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
    %meta{ :name => 'theme-color', :content => '#000000' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '//fonts.googleapis.com/css?family=Roboto:300,400,500,700' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '//fonts.googleapis.com/icon?family=Material+Icons' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ :type => 'text/javascript' }
      $(document).ready(function() {
      $(".button-collapse").sideNav();
      $('.slider').slider();
      $('.parallax').parallax();
      $('.modal').modal();
      });
      
  %body.grey.lighten-4
    .navbar-fixed
      %nav
        .nav-wrapper
          .container
            %a.button-collapse.hide-on-large-only{ :href => '#!', :'data-activates' => 'sidenav' }
              %i.material-icons menu
            %a.brand-logo
              John Isaiah Carmona
                  
    %ul#sidenav.side-nav.fixed
      %li.logo
        %img{ :src => "#{image_path 'logo-dark.png'}" }
      %li
        %a.waves-effect{ :href => '.#biography' } Biography
      %li
        %ul.collapsible.collapsible-accordion
          %li
            %a.collapsible-header.waves-effect Skills &amp; Technologies
            .collapsible-body
              %ul
                %li
                  %a.waves-effect{ :href => '#!' } Programming Languages
                %li
                  %a.waves-effect{ :href => '#!' } User Experience
                %li
                  %a.waves-effect{ :href => '#!' } Methodologies
                %li
                  %a.waves-effect{ :href => '#!' } Database
                %li
                  %a.waves-effect{ :href => '#!' } Software Architecture
          %li
            %a.collapsible-header.waves-effect Projects &amp; Responsibilities
            .collapsible-body
              %ul
                %li
                  %a.waves-effect{ :href => '#!' } 3-Tier Image Uploading System
                %li
                  %a.waves-effect{ :href => '#!' } Integrated Web System
                %li
                  %a.waves-effect{ :href => '#!' } Document Management System
                %li
                  %a.waves-effect{ :href => '#!' } MVC Charts &amp; Reporting
                %li
                  %a.waves-effect{ :href => '#!' } Public Ruby on Rails Website
                %li
                  %a.waves-effect{ :href => '#!' } Reporting Web Service Project
                %li
                  %a.waves-effect{ :href => '#!' } Other Notable Mention
      %li
        %a.waves-effect{ :href => '#!' } Contact
    %main
      = yield
    %footer.page-footer
      .container
        .row
          .col.l6.s12
            %h5.white-text John Isaiah Carmona Porfolio
            %p.grey-text.text-lighten-4 The information stated in this website is hereby declared to be true by myself. Checkout my other online profiles.
          .col.l4.offset-l2.s12
            %h5.white-text Links
            %ul
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } LinkedIn Profile
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } StackOverflow Careers
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } GitHub Account
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } Kalibrr
      .footer-copyright
        .container
          %a.grey-text.text-lighten-4.right.hide-on-small-only{ :href => '#!' }
            %small Website developed by John Isaiah Carmona
          %a.grey-text.text-lighten-4.hide-on-med-and-up{ :href => '#!' }
            %br
            %small Website developed by John Isaiah Carmona
