!!!
%html
  %head
    %title EYESTEE
    = csrf_meta_tags
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
    %meta{ :name => 'theme-color', :content => '#000000' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '//fonts.googleapis.com/css?family=Roboto:300,400,500,700' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '//fonts.googleapis.com/icon?family=Material+Icons' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ :type => 'text/javascript' }
      $(document).ready(function() {
      $(".button-collapse").sideNav();
      $('.slider').slider();
      });
      
  %body.grey.lighten-4
    .navbar-fixed
      %nav
        .nav-wrapper
          .container
            %a.button-collapse.hide-on-large-only{ :href => '#', :'data-activates' => 'sidenav' }
              %i.material-icons menu
            %a.brand-logo{ :href => '#!' }
              %img.hide-on-med-and-down{ :src => "#{image_path 'logo-light.png'}" }
              %img.hide-on-large-only{ :src => "#{image_path 'logo-light-small.png'}" }
            %ul.right
              %li
                %a{ :href => '#!' }
                  .notification-indicator-wrapper
                    .notification-indicator 99
                  %i.material-icons.white-text shopping_cart
                  
    %ul#sidenav.side-nav.fixed
      %li.logo
        %img{ :src => "#{image_path 'logo-dark.png'}" }
      %li
        %a.waves-effect{ :href => '#!' } Home
      %li
        %a.waves-effect{ :href => '#!' } Categories
      %li
        %a.waves-effect{ :href => '#!' } How to Pay
      %li
        %a.waves-effect{ :href => '#!' } Contact
      %li
        %a.waves-effect{ :href => '#!' } About
    %main
      = yield
    %footer.page-footer
      .container
        .row
          .col.l6.s12
            %h5.white-text EYESTEE
            %p.grey-text.text-lighten-4 The best quality shirt you can find online for only ₱ 299 with free shipping nationwide.
          .col.l4.offset-l2.s12
            %h5.white-text Links
            %ul
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } Facebook Page
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } Instagram
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } Privacy
              %li
                %a.grey-text.text-lighten-3{ :href => '#!' } Terms
      .footer-copyright
        .container
          %small &copy; #{ DateTime.now.year } EYESTEE Philippines
          %a.grey-text.text-lighten-4.right.hide-on-small-only{ :href => '#!' }
            %small Website developed by John Isaiah Carmona
          %a.grey-text.text-lighten-4.hide-on-med-and-up{ :href => '#!' }
            %br
            %small Website developed by John Isaiah Carmona
